{% extends "base.html" %}

{% load wagtailcore_tags i18n %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in blogpages %}

        {% if post.page_type == "GameAnalysisPage" %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <span><strong>{{ post.specific.date }} - {% translate "Game analysis" %}</strong></span>

        {% elif post.page_type == "DevJournalPage" %}
        <h2><a href="{% pageurl post %}">#{{ post.specific.entry_index }} - {{ post.title }}</a></h2>
        <span><strong>{{ post.specific.date }} - {% translate "Dev Journal" %}</strong></span>

        {% else %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <span><strong>{{ post.specific.date }} - {% translate post.page_type %}</strong></span>
        {% endif %}

        <span>{{ post.specific.first_paragraph|truncatewords_html:25 }}</span>
    {% endfor %}

    {# Only show pagination if there is more than one page to click through #}
    {% if blogpages.paginator.num_pages > 1 %}
    <div class="mt-3 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="pagination">
                    {% if blogpages.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ blogpages.previous_page_number }}" class="page-link">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page_num in blogpages.paginator.page_range %}
                    <li class="page-item {% if page_num == blogpages.number %} active{% endif %}">
                        <a href="?page={{ page_num }}" class="page-link">
                            {{ page_num }}
                        </a>
                    </li>
                    {% endfor %}

                    {% if blogpages.has_next %}
                    <li class="page-item">
                        <a href="?page={{ blogpages.next_page_number }}" class="page-link">
                            <span>&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}